html {
    height: 100%
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body{
 
  background-image: url("C:/Users/Almas/Desktop/Ruskin-s-Cafe/Assets/Ruskin's.png");
  background-size:auto;
  
}
.tagline{
  margin-top:-20px;
  font-size:12px;
  
}
h1, h3{
  font-family:impact;
  color: #297373;
}
main{
  padding:20px;
}
.logo{
  height:200px;
  width:200px;
}
.box{
  margin-right:auto;
  margin-left:auto;
  text-align:left;
  background-color: #E6E6E6;
  padding: 20px 20px 20px 20px;
  max-width:700px;

}

.menu{
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  background-color: #E6E6E6;
  padding: 20px;
  max-width:350px;
}
.order p{
  display: inline-block;
  margin-top:2px;
  margin-bottom:5px;
  font-size:14px;
}
.item {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}
footer{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:-25px;
  padding:10px;
  color:#E6E6E6;
  font-size:12px;
}
.icons{
  margin-top:-14px;
  margin-bottom:14px;
  height:50px;
  width:50px;
}
.divider{
  margin-top:20px;
  margin-bottom:20px;
  background-color: #297373;
  border-color:#297373;
  height:1px;
}

/*navbar css*/
navbar{
  float: right;
}
.nav{
  background-color:  #297373;
  color: #E6E6E6;
  padding: 10px;
  margin: 20px auto;
  text-align:center;
  border-radius: 2px;
  box-shadow:3px 3px #297373e2;
}
.nav a{
  color: #E6E6E6;
  text-decoration: none; 
  text-align: center;
  font-size: 16px;
  display: inline;
  padding: 12px;
}
.nav a:hover{
  background-color: #E6E6E6;
  color:#297373;
}


.home-images{
  height:50%;
  width:50%;
  padding-left: 25%;
  padding-right: 25%;
  display: block;
}
.body img{
  text-align: center;
}



/* page fold */
.fold::before{
  content:"";
  position: absolute;
  top: 32px;
  right: 32px;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: #ddd #344;
  transition: all ease 0.5s;
}
.fold:hover::before{
  border-width: 0 150px 150px 0;
  border-color: #eee #344
}

/* Membership page css */
label{
  display: block;
  margin: 0.5rem 0;
  color:#E6E6E6;
  padding-bottom: 5px;
}
fieldset{
  max-width:500px;
  border:none;
  background-color: #297373;
  margin-right:auto;
  margin-left:auto;
 
}
form{
  margin: 0 auto;
}
input{
  color: #E6E6E6;
  width: 100%;
  background-color: #297373cc;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  height: 2em;
}
.inline{
  width: unset;
  vertical-align: middle;
}
.plan{
  display: flex;
  flex-direction: row;
}
@media (max-width: 541px){
  .plan{
    display:flex;
    flex-direction: column;
  }
}

/* styling the button for registration form */
.button{
  background-color: #297373;
  color:#E6E6E6;
  border: none;
  padding: 0.5em;
  border-radius: 5px 10px 5px 10px;
  margin: 20px auto;
  display: block;
}
.button:hover{
  background-color: #E6E6E6;
  color:#297373;
  border: 2px solid #297373;
  cursor: pointer;

}

/*plan details styling */
.plan-details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-top: -40px;
  margin-bottom: 40px;
}
.plan-details div{
  width: 50%;
  height: 150px;
  margin: 8px;
  padding: 20px;
}

@media (max-width: 500px){
  .plan-details{
    display:flex;
    flex-direction: column;
  }
  .plan-details div{
    width: 100%;
  }
}
.plan-price{
  text-align: center;
}
.plan-price:hover{
  border: 2px solid #297373;
  border-radius: 20px;
  cursor: default;
}